body {
  background-color: rgba(124, 106, 106, 0.356);
}

.wrapper {
  width: 100%;
  height: 216px;
  //   background-color: red;
  background: url(images/Hearthstone_Logo.png) no-repeat center;
}
.font {
  font-size: 70px;
  text-align: center;
  line-height: 100px;
  color: rgb(77, 77, 46);
}
.new {
  width: 200px;
  height: 80px;
  //   background-color: yellow;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.deckview {
  width: 600px;
  height: 450px;
  background: url(images/600px-Darkest_Hour_full.jpg) no-repeat center;
  margin-left: 115px;
}
.wrapper2 {
  display: flex;
}
// .tierWrapper {
//   //   background-color: rgba(252, 9, 9, 0.3);
// }
ul {
  list-style: none;
  padding: 0;
  margin-left: 115px;
}
.tier {
  margin-left: 20px;
  font-size: 25px;
  //   background-color: rgba(124, 106, 106, 0.356);
  font-weight: bold;
}
li {
  padding-right: 200px;
  font-weight: normal;
}
footer {
  width: 100%;
  height: 270px;
  display: block;
  background: url(images/ErgAUhcVkAEJmCz.png) no-repeat center;
}
a {
  display: block;
}
